/*GALERIA CSS*/
/*vamos a usar que el slide se desplace con animaciones
lo haremos gracias a 2 selectores
target: Este selector o pseudo-class es empleado para 
seleccionar o dar estilo a un único elemento cuyo id coincida 
en alguno de los elementos HTML; en otras palabras 
el selector :target es empleado para dar estilo al elemento HTML
actualmente activado.
Se conoce como elemento target a aquel que ha sido enlazado 
(es decir, cuando ya aparece en la URL el símbolo # seguido de su ID).
Esta pseudo-clase se activa al pulsar un link y no se desactiva 
hasta pulsar otro, por lo que nos puede servir para crear menús, 
pestañas y más cosas impresionantes con solo CSS.
Para seleccionar los elementos uso del selector ~ :

h1 ~ h2 { ... }"selector general de elementos hermanos"
Su sintaxis es elemento1 ~ elemento2 y selecciona el elemento2 que
es hermano de elemento1 y se encuentra detrás en el código HTML.
En el selector adyacente la condición adicional era que los dos 
elementos debían estar uno detrás de otro en el código HTML, 
mientras que ahora la única condición es que uno esté detrás de otro.

h1 + h2 { ... } selector adyacente
El primer selector (h1 + h2) sólo selecciona el primer elemento <h2> 
de la página, ya que es el único que cumple que es hermano de <h1> 
y se encuentra justo detrás en el código HTML. 

elemento:nth-child(numero), 
selecciona el elemento indicado pero con la condición de que sea el 
hijo enésimo de su padre. Este selector es útil para seleccionar el 
segundo párrafo de un elemento, el quinto elemento de una lista, etc.
*/



.gallery-container{
    position: relative;
    overflow: hidden;
    height: 100%; /* Or set a fixed height */
    //background-color: lightseagreen;
}

/* SLIDER */
.gallery-container .slider{
    height: 200px; /*100%*/
    white-space: nowrap;/*los textos pueden salir del elemento contenedor*/
    /*font-size: 0;*/ /*al disminuir el texto a cero se hace que "desaparezca*/
    transition: 0.8s;/*desaparecen suavemente*/
    
}
/* SLIDES */
/*con el selector > selecciono todos los hijos directos de slider, 
los div donde se encuentran los colores de fondo
"posibilidad de ese div colocar otro container que tenga imagenes o carpetas*/
.gallery-container .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}
/* PREV/NEXT, CONTAINERS & ANCHORS */
/**El contenedor  prevnext se pone  en posicion absoluta tomando como
referencia gallery-container para poder ajustar los enlaces botones de
prev y sig. z-index ponemos este contenedor encima de los demas*/
.gallery-container .prevNext {
    position: absolute;
    z-index: 30;
    top: 50%;
    width: 100%;
    height: 0;
}

.gallery-container .prevNext > div+div {
	visibility: hidden; /* Oculta los contenedores menos el primero que no tiene otro div arriba */
}


/*damos visibilidad a los enlaces "vacios" poniendo en posicion absolute
y dandoles un alto y un ancho*/
.gallery-container .prevNext a {
    background: $gray-navbar;
    color: black;
    position: absolute;
    width:       40px;
    height:      40px;
    line-height: 40px; /* If you want to place numbers */
    text-align: center;
    opacity: 0.5;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
}
.gallery-container .prevNext a:hover {
	opacity: 1;
}

.gallery-container .prevNext a+a {
	left: auto;
    right: 0;
}

/* Navegacion */
.gallery-container .bullets {
    position: absolute;
    z-index: 20;
    bottom: 0;
    /*centrar el contenedor verticalmente siendo absoluto*/
    /*margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;*/
    /* fin centrar el contenedor verticalmente siendo absoluto*/
    padding: 10px 0;
    width: 100%; /*podemos modificar el ancho y luego centrarlo mas arriba*/
    text-align: center;
}
.gallery-container .bullets > a {
    display: inline-block;
    width:       30px;
    height:      30px;
    line-height: 30px;
    background: rgb(75, 72, 72);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.gallery-container .bullets > a+a {
    /* pone a todos como inactivos menos el primero 
    (situacion inicial al  cargar la pagina*/
	background: rgba(46, 44, 44, 0.5); 
}
.gallery-container .bullets > a:hover {
	background: rgba(46, 44, 44, 0.7) !important;
}

/* Botones de Navegacion */
/*Todos se encuentran inactivos*/
.gallery-container s:target ~ .bullets >* {      background: rgba(46, 44, 44, 0.5);}
/*Poner activo cada boton en funcion del boton*/
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(75, 72, 72,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(75, 72, 72,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(75, 72, 72,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(75, 72, 72,   1);}
/* More slides? Add here more rules */

/*Botones previo y siguiente
oculto o muestro estos botones en funcion del elemento con target */
/*Para todos el estado inicial es oculto*/
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}

/*Muestro el elemento en funcion del elemento prevnext activo*/
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/*Efecto Slide aqui trasladamos la posicion*/
#s1:target ~ .slider {transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


/*Decoracion de Elementos*/
.gallery-container .bullets a, .gallery-container .prevNext a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
    text-decoration: none;
}
// Aqui empieza la parte de la descripcion de la imagen esto hay que separarlo

.img-slide-container{
    position: relative;
    width: 100%;
    height: 100%;
} 
.enlace-shutter{
    position: relative;
    margin: 0px;
    //overflow: hidden;
    
}

.img-slide-container img{
    width: 100%;
    height: 120%;// Excede su marco para rellenar los bullets inferiores 
    object-fit: cover;
    object-position: top left;
}
.img-slide-container img::before{
    content: attr(description);
    z-index: 1;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50%;
}

.img-slide-container .descripcion{
    position: absolute;
    width: 100%;
    height: 100%;
    //top: -200%;
    z-index: 15;
    padding: 0 10%;
    margin: 0;
    color: $gray-light;
    font-weight: 500;
    background: rgba(19, 155, 1, 0.800);
    opacity: 0;
    transition: opacity .6s;
    transform: translateY(-18%);
    font-size: 0.9rem;

}

.img-slide-container .descripcion:hover {opacity: 1;}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .img-slide-container .descripcion{
        top: 50%;
        
    }
    
}
@media only screen and (min-width: 768px){
    .img-slide-container .descripcion{
        top: 100%;
        transform: translateY(-30%);
    }
}