$primarycolor-dark: #220901;
$primarycolor-medium: #621708;
$primarycolor-light: #941B0C;

$secundarycolor-dark: #E09F3E;
$secundarycolor-medium: #FFBA08;
$secundarycolor-light:  #FFBF69;

// Escalas de grises
$gray-ultralight: #F0F0F2;
$gray-ultralight-trans: #F0F0F294;
$gray-light: #E2E3E5;
$gray-light-trans:#E2E3E594;
$gray-medium: #919199;
$gray-medium-trans: #91919994;
$gray-dark: #7D8288;
$gray-dark-trans: #7D828894;
$gray-darker:#6B6F78;
$gray-darker-trans:#6B6F7894;
// Al final no los he usado como navegacion
$gray-navbar: #333333;
$gray-navbar-trans: #33333394;


/* Social Colors */
$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0976b4;
$pinterest-color: #cb2027;
$behance-color: #1769ff;
$github-color: #4183c4;
$youtube-color:#bb0000;
$soundcloud-color:#ff3a00;
$instagram-color-plain:#E1306C;
$instagram-blue:#515BD4;
$instagram-purple:#8134AF;
$instagram-pink:#DD2A7B;
$instagram-yellow:#FEDA77;
$instagram-orange:#F58529;