@font-face {
  font-family: "Galanda Moderna";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galanda-Moderna.ttf") format("truetype"),
    url("../fonts/Galanda-Moderna.woff2") format("woff2"),
    url("../fonts/Galanda-Moderna.eot") format("embedded-opentype"),
    url("../fonts/Galanda-Moderna.otf") format("opentype");
}

@font-face {
  font-family: "Galanda Moderna Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galanda-Moderna-Light.ttf") format("truetype"),
    url("../fonts/Galanda-Moderna-Light.woff2") format("woff2"),
    url("../fonts/Galanda-Moderna-Light.otf") format("opentype"),
    url("../fonts/Galanda-Moderna-Light.woff") format("woff");
}

@font-face {
  font-family: "Jambetica";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jambetica-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jambetica";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Jambetica-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Jambetica";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Jambetica-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Jambetica";
  font-style: italic;
  font-weight: lighter;
  src: url("../fonts/Jambetica-Light-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Jambetica";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Jambetica-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jambetica";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Jambetica-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BalooBhai2-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BalooBhai2-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/BalooBhai2-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BalooBhai2-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/BalooBhai2-ExtraBold.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

@font-face {
  font-family: "Syncopate";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Syncopate/Syncopate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Syncopate";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Syncopate/Syncopate-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Raleway/static/Raleway-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Raleway/static/Raleway-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Raleway/static/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: lighter;
  src: url("../fonts/Raleway/static/Raleway-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: lighter;
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Nunito/Nunito-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/Nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: lighter;
  src: url("../fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
}

//Variables de las fuentes
$title-font: "Galanda Moderna", courier;
$title-font-light: "Galanda Moderna Light";
$title-page: "Raleway";
$title-section: "Righteous";
$parrafo: "Nunito", Verdana;
$font-menu: "Syncopate", courier;
