<s id="s1"></s> 
<s id="s2"></s>
<s id="s3"></s>
<s id="s4"></s>

<div class="slider">
    <div class="img-slide-container">
        <p class="descripcion">Partiendo del origen de datos en bruto</p>
        <img src="../img/works/0101-aging.png" alt="Origenes Aging">
    </div>

    <div class="img-slide-container">
        <p class="descripcion">Obtengo datos claros para procesarlos</p>
        <img src="../img/works/0102-aging.png" alt="pagina2">
    </div>

    <div class="img-slide-container">
        
        <img src="../img/works/0103-aging.png" alt="pagina3">
        <p class="descripcion">Hago una segunda transformación para clasificar los datos y analizarlos
        </p>
    </div>
    <div class="img-slide-container">
        <p class="descripcion">Incorporo los datos al modelo de datos para que el cliente pueda analizar esta información.
        </p>
        <img src="../img/works/0104-aging.png" alt="pagina4">
    </div>
  </div><!--Cierre slider-->

<div class="prevNext">
<!--Clase que hace que se cambie de pagina cuando
se pulsen los botones (enlaces) de manera que: -->
<!-- Se estamos en la pagina 1 la pagina previa es la 
    pagina 4 y si es la siguiente estamos en la segunda pagina-->
    <div><a href="#s4"></a><a href="#s2"></a></div>
    <!--Estamos en 2 el previo es 1 y el siguiente es 3-->
    <div><a href="#s1"></a><a href="#s3"></a></div>
        <!--Estamos en 3 el previo es 2 y el siguiente es 4-->
    <div><a href="#s2"></a><a href="#s4"></a></div>
        <!--Estamos en 4 el previo es 3 y el siguiente es 1-->
    <div><a href="#s3"></a><a href="#s1"></a></div>
</div><!--ciere prev Next-->

<div class="bullets">
    <a href="#s1"></a>
    <a href="#s2"></a>
    <a href="#s3"></a>
    <a href="#s4"></a>
</div>