<a class="brand" href="/">Manuel Saez Carmona</a>
<div class="menu-container">
    <input type="checkbox" id="check-menu" />
    <label for="check-menu">
        <!-- <img src="../img/bars-solid.svg" alt="boton">-->
        <i class="fas fa-bars"></i>
        <!--<span class="button-menu">☰</span> -->
    </label>
    <nav class="menu">
        <ul > 
            <li><a href="/">inicio</a></li>
            <li><a href="/html/acerca.html">sobre mi</a></li>  
            <li><a href="/html/portfolio.html">portfolio</a></li>  
            <li><a href="/html/contacto.html">contacto</a></li>  
        </ul>
    </nav>
</div><!--cierre menu.container-->
 