<h1>Mazinguer Z Arcade: Cuaderno de Bitácora</h1>
<section class="fase">
    <div class="titulo-fase">
      <h2>Fase 1: Idea Inicial</h2>
      <a href="#header-maca">Subir</a>
    </div>
    <div class="grid-maca">
      <article>
        <h3>10 de Marzo</h3>
        <p>Pongo en marcha esta idea que llevaba años intentando encontrar un hueco. El confinamiento me lo ha proporcionado.</p>
      </article>
      <article>
        <h3>11 de marzo</h3>
        <p>Empiezo a buscar información sobre como realizar la máquina y que es lo que necesito. Planos, materiales, componentes... siempre reciclando viejos equipos
          para que no se me suba el presupuesto.
        </p>
      </article>
      <article>
        <h3>12 de marzo</h3>
        <p>Con toda la información y ,comenzando con los planos, empiezo a elaborar la lista de la compra. 
           </p>
      </article>
      <article>
        <h3>13 de marzo</h3>
        <p>Me pongo a comprar los tableros y a sacar las piezas</p>
        <img src="../img/maca/0101_piezasw.jpg" alt="piezas cortadas">

      </article>
      <article>
        <h3>15 de marzo </h3>
        <p>Me doy cuenta que aparte de piezas necesito alguna que otra herramienta.</p>
      </article>
      <article>
        <h3>16 de marzo</h3>
        <p>Pido los controles de la maquina</p>
      </article>
      <article>
        <h3>17 de marzo</h3>
        <p>Comienzo a revisar los ordenadores antiguos</p>
      </article>
      <article>
        <h3>20 de marzo</h3>
        <p>Me llegan los controles de la maquina.</p>
        <img src="../img/maca/0102_botonesw.jpg" alt="Botones de la maquina">
      </article>
    </div>
  </section>
<!-- FASE 2 -->
<section class="fase">
  <div class="titulo-fase">
    <h2>Fase 2: Construyendo el Mueble</h2>
    <a href="#header-maca">Subir</a>
  </div>
  <div class="grid-maca">
    <article>
      <h3>23 de Marzo</h3>
      <p>Mi padre se une al proyecto. Le entretiene mucho y pasamos tiempo de calidad</p>
    </article>
    <article>
      <h3>24 de marzo</h3>
      <p>Clasifico las piezas que son validas para incorporar a la maquina
      </p>
    </article>
    <article>
      <h3>25 de marzo</h3>
      <p>Decido que la maquina sea de tonos claros y que sea sobre Mazinguer Z. Nostalgia a tope.
         </p>
    </article>
    <article>
      <h3>27 de marzo</h3>
      <p>Hacemos una primera prueba de ensamblaje parece que mas o menos encaja</p>
      <img src="../img/maca/0201_medidaw.jpg" alt="medida vertical">

    </article>
    <article>
      <h3>30 de marzo </h3>
      <p>Realizo los artes, toca bucear por bancos de imagenes para conseguir ese aspecto del anime</p>
    </article>
    <article>
      <h3>3 de abril</h3>
      <p>Con los artes terminados voy a imprimirlos en vinilo adhesivo. Tengo la suerte de tener un centro de impresión enfrente de mi casa</p>
    </article>
    <article>
      <h3>8 de abril</h3>
      <p>Despues de mucho esfuerzo conseguimos ensamblar el cuerpo del mueble dándole consistencia.</p>
    </article>
    <article>
      <h3>10 de abril</h3>
      <p>Con el cuerpo ensamblado pego los vinilos, esto va tomando forma</p>
      <img src="../img/maca/0202_montaje1w.jpg" alt="primer montaje vertical">
    </article>
  </div>
</section>
<!-- FASE 3 -->
<section class="fase">
  <div class="titulo-fase">
    <h2>Fase 3: Ensamblando</h2>
    <a href="#header-maca">Subir</a>
  </div>
  <div class="grid-maca">
    <article>
      <h3>13 de abril</h3>
      <p>El fin de semana me he pasado estudiando como monto los controles, paso a la acción.</p>
    </article>
    <article>
      <h3>16 de abril</h3>
      <p>Ensamblo el sistema de audio, reciclando unos altavoces de bazar.</p>
    </article>
    <article>
      <h3>20 de abril</h3>
      <p>Conecto los cables a los circuitos, entre tanto cable es fácil perderse.</p>
    </article>
    <article>
      <h3>24 de abril</h3>
      <p>Después de probar consigo embutir los joysticks y los botones. El espacio disponible es muy limitado</p>
      <img src="../img/maca/0301_controlesw.jpg" alt="vista controles vertical">
    </article>
    <article>
      <h3>27 de abril</h3>
      <p>Comenzamos con el video, utilizo un monitor TFT medio olvidado</p>
    </article>
    <article>
      <h3>28 de abril</h3>
      <p>Para poder incorporarlo en el soporte que hicimos tengo que desmontar todo el pie de la máquina, no cabe</p>
    </article>
    <article>
      <h3>30 de abril</h3>
      <p>Hemos tenido que hacer virguerias para encajar el monitor dejándolo totalmente fijo, no se va a poder retirar</p>
    </article>
    <article>
      <h3>1 de mayo</h3>
      <p>Lijo los cantos para rematar la bartop, otra fase completada</p>
      <img src="../img/maca/0302_bartop_openw.jpg" alt="bartop abierta">
    </article>
  </div>
</section>
<!-- FASE 4 -->
<section class="fase">
  <div class="titulo-fase">
    <h2>Fase 4: Rediseñando. V2.0</h2>
    <a href="#header-maca">Subir</a>
  </div>
  <div class="grid-maca">
    <article>
      <h3>3 de mayo</h3>
      <p>Me parece que el espacio disponible dentro de la Bartop es insufiente. Comienzo a jugar al Tetris con las piezas</p>
    </article>
    <article>
      <h3>4 de mayo</h3>
      <p>Mis temores se hacen realidad, no he tenido en cuenta que la tarjeta gráfica mide <span>¡28 cms!</span>. Despues de mucho probar toca aceptar que no es viable.</p>
    </article>
    <article>
      <h3>5 de mayo</h3>
      <p>Tras la frustación inicial, empiezo a considerar alternativas. Hay que sacrificar que sea compacta pero tampoco que no sea portable.</p>
    </article>
    <article>
      <h3>15 de mayo</h3>
      <p>He decidido reciclar el hardware, lo voy a alojar en un pie hecho a medida.</p>
      <img src="../img/maca/0401_piew.jpg" alt="pie blanco vertical">
    </article>
    <article>
      <h3>18 de mayo</h3>
      <p>Recibo animos de la tienda de bricolaje, se encuentran entusiasmados con la maquina.</p>
    </article>
    <article>
      <h3>19 de mayo</h3>
      <p>Me pongo a diseñar los artes del pie</p>
    </article>
    <article>
      <h3>22 de mayo</h3>
      <p>Comienzo a ver que componentes electricos necesito</p>
    </article>
    <article>
      <h3>24 de mayo</h3>
      <p>El pie que he realizado va a alojar el hardware de manera modular en bandejas donde se encontraran los componentes</p>
      <img src="../img/maca/0402_modularw.jpg" alt="modularidad">
    </article>
  </div>
</section>
<!-- FASE 5 -->
<section class="fase">
  <div class="titulo-fase">
    <h2>Fase 5: Todo Hardware</h2>
    <a href="#header-maca">Subir</a>
  </div>
  <div class="grid-maca">
    <article>
      <h3>26 de mayo</h3>
      <p>Recopilo todo el material que he reciclado, es momento de encajar las piezas Hard</p>
    </article>
    <article>
      <h3>29 de mayo</h3>
      <p>No pensaba que tenia que ponerme con electricidad pero aqui me tienes... comprando pulsadores,
         y fabricando interruptores externos para que se comporte como cualquier arcade </p>
    </article>
    <article>
      <h3>1 de junio</h3>
      <p>Comienzo a conectar los elementos esenciales para comprobar que no me he cargado nada con tanta modificación</p>
    </article>
    <article>
      <h3>2 de junio</h3>
      <p>Primera prueba funcional. A ver si enciende... crucemos los dedos.....</p>
      <img src="../img/maca/0501_pruebaHardw.jpg" alt="prueba funcional">
    </article>
    <article>
      <h3>3 de junio</h3>
      <p>Tras la primera prueba exitosa me pongo a montar todo de manera definitiva</p>
    </article>
    <article>
      <h3>4 de junio</h3>
      <p>Un poco mas de bricolaje para acoplar la fuente y los interruptores.</p>
    </article>
    <article>
      <h3>6 de junio</h3>
      <p>Antes de conectar todo coloco los vinilos en el pie, ¡que bien queda!</p>
    </article>
    <article>
      <h3>10 de junio</h3>
      <p>Ya se encuentra todo en su sitio.... Y funciona</p>
      <img src="../img/maca/0502_hardensmblew.jpg" alt="ensamble vertical">
    </article>
  </div>
</section>
<!-- FASE 6 -->
<section class="fase">
  <div class="titulo-fase">
    <h2>Fase 6: Terminando y Disfrutando</h2>
    <a href="#header-maca">Subir</a>
  </div>
  <div class="grid-maca">
    <article>
      <h3>12 de junio</h3>
      <p>Me llega el embellecedor (u-molding) lo voy colocando con cuidado, queda muchisimo mejor</p>
    </article>
    <article>
      <h3>15 de junio</h3>
      <p>Empiezo con el software, decido meter windows 7 dado el hardware de la maquina</p>
    </article>
    <article>
      <h3>17 de junio</h3>
      <p>Termino de configurar el sistema y calibrar los joysticks, la parte de mueble se encuentra terminada.</p>
    </article>
    <article>
      <h3>2 de junio</h3>
      <p>Con todos los remates realizados la maquina arranca!!!</p>
      <img src="../img/maca/0601_macaW7w.jpg" alt="maquina windows vertical">
    </article>
    <article>
      <h3>3 de junio</h3>
      <p>Decido que la maquina abarque desde arcade hasta consolas de 64bits</p>
    </article>
    <article>
      <h3>4 de junio</h3>
      <p>Aunque no lo parezca cada sistema es un mundo, toca aprender a configurar cada uno de los emuladores</p>
    </article>
    <article>
      <h3>6 de junio</h3>
      <p>Al final he conseguido reunir todos los sistemas en un front-end, realmente es un trabajo de chinos</p>
    </article>
    <article>
      <h3>10 de junio</h3>
      <p>No hay mayor satisfaccion como una idea se ha hecho realidad y que tu gente disfruta de ella</p>
      <img src="../img/maca/0602_disfrutandow.jpg" alt="disfrutando vertical">
    </article>
  </div>
</section>