
<img class="main-logo" src="img/MWhite.svg" alt="logo">
<div class="line"><hr>
<div class="text-container">
    <h1><span>Manuel</span> Saez Carmona</h1>
    <div class="content">
        <ul class="roll-text one">
            <li>desarrollo</li>
            <li>tecnología</li>
        </ul>
        <ul class="roll-text two">
            <li>web</li>
            <li>fintech</li>
        </ul>
</div>
<div class="line"><hr></div>
<div class="buttons">
    <a href="/html/acerca.html">sobre mi</a>
    <a href="/html/portfolio.html">portfolio</a>
    <a href="/html/contacto.html">contacto</a>
</div>