<article class=work-container>
    <div class="work-thumb">
        <a href="#" target="_self">
            <img src="../img/M0.jpg" alt="trabajo1">
        </a>
        
    </div><!-- cierre work-thumb-->
    <div class="work-content">
        <span class="etiqueta fintech"></span>
        <h2>Trabajo A</h2>
        <p>Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. Vel repudiandae eos provident fugit 
            aliquid atque architecto fugiat a nesciunt aut, ipsa sed tenetur sint 
            eligendi veniam iusto autem numquam? Distinctio!
        </p>
        <a href="#" class="work-btn" target= "_self">saber mas</a>
    </div><!-- cierre work-content-->
</article>

<article class=work-container>
    <div class="work-thumb">
        <a href="#" target="_self">
            <img src="../img/M0.jpg" alt="trabajo2">
        </a>
    </div><!-- cierre work-thumb-->
    <div class="work-content">
        <span class="etiqueta hobbies"></span>
        <h2>Trabajo B</h2>
        <p>Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. Vel repudiandae eos provident fugit 
            aliquid atque architecto fugiat a nesciunt aut, ipsa sed tenetur sint 
            eligendi veniam iusto autem numquam? Distinctio!
        </p>
        <a href="#" class="work-btn" target= "_self">saber mas</a>
    </div><!-- cierre work-content-->
</article>

<article class=work-container>
    <div class="work-thumb">
        <a href="#" target="_self">
            <img src="../img/M0.jpg" alt="trabajo2">
        </a>
    </div><!-- cierre work-thumb-->
    <div class="work-content">
        <span class="etiqueta web"></span>
        <h2>Trabajo C</h2>
        <p>Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. Vel repudiandae eos provident fugit 
            aliquid atque architecto fugiat a nesciunt aut, ipsa sed tenetur sint 
            eligendi veniam iusto autem numquam? Distinctio!
        </p>
        <a href="#" class="work-btn" target= "_self">saber mas</a>
    </div><!-- cierre work-content-->
</article>