<article class="work-container">
  <div class="work-thumb">
    <a href="https://emplehabilidad.org/" target="_blank">
      <img src="../img/works/emplehabilidad.jpg" alt="Emplehabilidad" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Emplehabilidad</h2>
    <p>
      Realizado para la compañia emplehabilidad, se trata de un portal web con
      aula virtual y tienda virtual incluida. Desarrollado con wordpress y
      sincronizado con LearnDash y Woocommerce. Si quieres crecer de manera
      profesional visita el sitio!!
    </p>
    <a href="https://emplehabilidad.org/" class="work-btn" target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://agenda-teams.netlify.app/" target="_blank">
      <img src="../img/works/agenda-client.png" alt="Agenda para equipos" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Agenda para Equipos</h2>
    <p>
      Una agenda en la que un equipo puede llevar la gestión de sus tareas.
      WebApp en la que he desarrollado el Frontend usando React, Hooks, Redux,
      UnitTesting y unas cuantas tecnologias más. De igual manera el Backend con
      Node.js y MongoDB como base de datos. El back puedes visitarlo
      <a href="https://calendar-eventos.herokuapp.com/" target="_blank">AQUI</a>
    </p>
    <a href="https://agenda-teams.netlify.app/" class="work-btn" target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="../html/fin-aging-01.html" target="_self">
      <img src="../img/works/Cobro.jpg" alt="Aging de clientes" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta fintech"></span>
    <h2 class="work-title">Aging de Clientes</h2>
    <p>
      Solución desarrollada en Excel mediante Power Pivot y Power Query para
      mejorar la gestion de los clientes para los departamentos comerciales y
      financieros de las compañias.
    </p>
    <a href="../html/fin-aging-01.html" class="work-btn" target="_self"
      >saber mas</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://pasapalabra-manu.netlify.app/" target="_blank">
      <img src="../img/works/pasapalabra.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Pasapalabra</h2>
    <p>Si siempre has querido participar aqui puedes</p>
    <p>
      El famoso juego realizado con las bases del desarrollo Frontend: HTML, CSS
      y javascript puro. Y realizando una implementacion básica del patron MVC.
      La verdad es que mas de uno se ha quedado enganchado.
    </p>
    <a
      href="https://pasapalabra-manu.netlify.app//"
      class="work-btn"
      target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="../html/maca.html" target="_self">
      <img src="../img/works/macaW7w.png" alt="trabajo2" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta hobbies"></span>
    <h2 class="work-title">Arcade Mazinguer</h2>
    <p>
      Se trata de un proyecto personal, siempre he tenido ganas de tener una
      maquina recreativa y el confinamiento me dió la excusa perfecta para
      dedicar tiempo a esta idea que llevaba años rondando por mi cabeza. El
      resultado ha encantado tanto a propios como a extraños.
    </p>
    <a href="../html/maca.html" class="work-btn" target="_self">saber mas</a>
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://carrito-test.netlify.app/" target="_self">
      <img src="../img/works/carrito-mock.jpg" alt="Carrito template" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Carrito template</h2>
    <p>
      Una plantilla hecha en HTML, CSS y javascript que incluye la funcionalidad
      de un carrito de compras. Ideal para incorporar en proyectos muy pequeños.
    </p>
    <a href="https://carrito-test.netlify.app/" class="work-btn" target="_self"
      >saber mas</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://stetionline.netlify.app/" target="_blank">
      <img src="../img/works/stetionline.jpg" alt="StetiOnline" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2>StetiOnline</h2>
    <p>
      Proyecto diseñado para los establecimientos dedicados a los servicios de
      estetica. Esta plantilla pretende dar solucion a la venta y reserva por
      parte de los clientes ahorrando tiempo e interrupciones cuando se esta
      realizando estos servicios.
    </p>
    <a href="https://stetionline.netlify.app/" class="work-btn" target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://manu-photogallery.netlify.app/" target="_blank">
      <img src="../img/works/Manufotogaleria.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2>Manu Photogallery</h2>
    <p>
      Pagina enfocada a la fotografia con un diseño dinámico para mostrar fotos
      de cualquier tamaño y temática. Esta galeria puede acoplarse a cualquier
      sitio web como otra sección más.
    </p>
    <a
      href="https://manu-photogallery.netlify.app/"
      class="work-btn"
      target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->
