<article class="work-container">
  <div class="work-thumb">
    <a href="../html/fin-aging-01.html" target="_self">
      <img src="../img/works/Cobro.jpg" alt="trabajo1" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta fintech"></span>
    <h2 class="work-title">Aging de Clientes</h2>
    <p>
      Solución desarrollada en Excel mediante Power Pivot y Power Query para
      mejorar la gestion de los clientes para los departamentos comerciales y
      financieros de las compañias.
    </p>
    <a href="../html/fin-aging-01.html" class="work-btn" target="_self"
      >saber mas</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://stetionline.netlify.app/" target="_blank">
      <img src="../img/works/stetionline.jpg" alt="StetiOnline" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">StetiOnline</h2>
    <p>
      Proyecto diseñado para los establecimientos dedicados a los servicios de
      estetica. Esta plantilla pretende dar solucion a la venta y reserva por
      parte de los clientes ahorrando tiempo e interrupciones cuando se esta
      realizando estos servicios.
    </p>
    <a href="https://stetionline.netlify.app/" class="work-btn" target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="../html/maca.html" target="_self">
      <img src="../img/works/macaW7w.png" alt="trabajo2" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta hobbies"></span>
    <h2 class="work-title">Arcade Mazinguer</h2>
    <p>
      Se trata de un proyecto personal, siempre he tenido ganas de tener una
      maquina recreativa y el confinamiento me dió la excusa perfecta para
      dedicar tiempo a esta idea que llevaba años rondando por mi cabeza. El
      resultado ha encantado tanto a propios como a extraños.
    </p>
    <a href="../html/maca.html" class="work-btn" target="_self">saber mas</a>
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://manu-photogallery.netlify.app/" target="_blank">
      <img src="../img/works/Manufotogaleria.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Manu Photogallery</h2>
    <p>
      Pagina enfocada a la fotografia con un diseño dinámico para mostrar fotos
      de cualquier tamaño y temática. Esta galeria puede acoplarse a cualquier
      sitio web como otra sección más.
    </p>
    <a
      href="https://manu-photogallery.netlify.app/"
      class="work-btn"
      target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://destinosdepuntoycoma.netlify.app/" target="_blank">
      <img src="../img/works/destinopuntoycoma.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Destinos punto y coma</h2>
    <p>A quien no le gusta viajar.</p>
    <p>
      He realizado esta página exponiendo algunos viajes que tienen un valor
      añadido si te gusta la programación.
    </p>
    <a
      href="https://destinosdepuntoycoma.netlify.app/"
      class="work-btn"
      target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://manucalendario.netlify.app/" target="_blank">
      <img src="../img/works/calendariocss.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Calendario CSS</h2>
    <p>
      Lo que puedas hacer con HTML y CSS no lo hagas con JavaScript. Siguiendo
      esta premisa he realizado este calendario unicamente con esas tecnologias
      para conseguir un calendario optimizado para la web.
    </p>
    <a
      href="https://manucalendario.netlify.app/"
      class="work-btn"
      target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->

<article class="work-container">
  <div class="work-thumb">
    <a href="https://manu-blog.netlify.app/" target="_blank">
      <img src="../img/works/manublog.jpg" alt="Manu's Photogallery" />
    </a>
  </div>
  <!-- cierre work-thumb-->
  <div class="work-content">
    <span class="etiqueta web"></span>
    <h2 class="work-title">Manu Blog</h2>
    <p>
      Un blog multiproposito donde publicar noticias que consideres relevantes.
      Incluye menus para cada una de las secciones que consideres relevantes.
    </p>
    <a href="https://manu-blog.netlify.app/" class="work-btn" target="_blank"
      >Ir al sitio</a
    >
  </div>
  <!-- cierre work-content-->
</article>
<!-- cierre work-container-->
